<ion-view view-title="게시판" >
    <ion-nav-buttons side="right">
        <button class="button" ng-click="openModal()">
            글쓰기
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-repeat="board in boardList">
            <div class="item item-avatar">
                <img src="img/ben.png">
                <h2>{{board.TITLE}}</h2>
                <p>{{board.NAME}}</p>
            </div>
            <div class="item item-body">
              <google-map location="{{board.LOCATION}}" ng-show="board.LOCATION" ></google-map>
              <p>
                  {{board.CONTENT}}
                </p>
                <p>
                    <a href="#" class="subdued">{{board.LIKE_CNT}} 좋아요</a>
                    <a href="#/app/reply/{{board.BOARD_NO}}" class="subdued">{{board.REPLY_CNT}} 댓글</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
